body {
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 158, 160);
}

.hero {
  width: 28%;
  height: 90vh;
  border-radius: 45px;
  background: radial-gradient(50% 73.50% at 50% 50%, #719D9F 51%, #9CBCBE 91%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  transition-property: width;
  transition-duration: 450ms;
  transition-timing-function: ease-in-out;
}

.title {
  color: #0D3E42;
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}

.quote_container {
  width: 100%;
  height: 80%;
  background-color: black;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quoteImg {
  width: 40px;
  height: 40px;
}

.quote_text_container {
  width: 100%;
  padding: 10%;
  box-sizing: border-box;
  max-height: 80%;
}

#quote {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  margin: 0px;
  text-align: center;
}

#quoter {
  color: rgba(255, 255, 255, 50%);
  margin: 0px;
  text-align: center;
}

button {
  width: 50%;
  height: 54px;
  background-color: rgba(72, 131, 136);
  border-radius: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: rgba(72, 131, 136, 50%);
  transition-property: background-color;
  transition-duration: 450ms;
  transition-timing-function: linear;
}

#generate {
  font-weight: bold;
  color: white;
  font-size: .8rem;
  margin: 0px 10px;
  text-align: center;
}

#reload {
  width: 25px;
  height: 25px;
}

.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 65px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}


@keyframes rotate {
  20% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  
  .hero {
    width: 70%;
  }

  #generate {
    display: none;
  }

}


@media screen and (max-width: 425px) {
  
  .hero {
    width: 95%;
  }

  #generate {
    display: none;
  }

}